:root {
	width: 100%;
	height: 100%;
}
* {
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
}
#app {
	width: 100%;
	height: 100%;
}
.n-config-provider {
	width: 100%;
	height: 100%;
}
#light,
#dark {
	width: 100%;
	height: 100%;
}
